body {
    font-family: 'Arial', sans-serif;
    background-color: #f2eae1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: #593c1f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    transform: translateY(100vh);
    animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
    to {
        transform: translateY(0);
    }
}

h1 {
    color: #f2eae1;
    margin-top: 0;
}

img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

p {
    color: #f2eae1;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2eae1;
    color: #593c1f;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d5c2a8;
}
